ToDoClient/ToDoClient/Connected Services/TaskServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ToDo" />
  <xs:element name="AddTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q1:User" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="task" nillable="true" type="q2:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q3:User" />
        <xs:element minOccurs="0" name="taskTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkTaskCompletedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarkTaskCompletedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q4:User" />
        <xs:element minOccurs="0" name="taskTitle" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="task" nillable="true" type="q5:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q6:User" />
        <xs:element minOccurs="0" name="taskTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="GetAllTasksResult" nillable="true" type="q8:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTaskByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="user" nillable="true" type="q9:User" />
        <xs:element minOccurs="0" name="taskTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTaskByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ToDo" minOccurs="0" name="SearchTaskByTitleResult" nillable="true" type="q10:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>